body {
	background-color: #eef3f4;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	color: #7f8d8e;
}

nav {
  width: 100%;
  height: 45px;
  background-color: #25b79a;
  color: #fff;
  text-align: center;
}

.nav-logout {
  float: right;
  text-decoration: none;
  color: #fff;
}

div {
	margin: 0px auto;
}

h1 {
	text-align: center;
}

.logo {
	font-weight: 800;
	color: #25b79a;
}

.question-form {
	width: 1100px;
  height: 368px;
	border-radius: 3px;
	padding: 10px;
}

.question-form-submit-button {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.question-form-button {
  font-size: 16px;
  width: 250px;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  background-color: #25b79a;
  border: none;
  border-radius: 3px;
  margin: 0px auto;
}

.question {
	width: 100%;
	height: 40px;
}

.question-option {
	width: 40%;
	padding: 13px 0px;
}


.start-test {
  font-size: 20px;
  font-weight: 500;
  width: 350px;
  color: #25b79a;
  padding: 14px 0px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #25b79a;
  border-radius: 3px;
  margin: 0px auto;
}




/*** Question Buttons for Personality Test ***/
.question-buttons {
  list-style-type: none;
  padding: 0px;
  margin: 8px 0px;
}

.question-buttons li {
  float: left;
  position: relative;
}

.question-buttons label, .question-buttons input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
}

.question-buttons input[type="radio"] {
  opacity:0;
  height: 100%;
  z-index:1;
}

.question-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #25b79a;
  color: #fff;
  border: 1px solid #25b79a;
}

.question-buttons label {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  cursor:pointer;
}

.question-button-large {
  height: 32px;
  width: 14%;
  margin: 0px 0% 8px 6%;
}

.question-button-large label {
  border-radius: 16px; 
}

.question-button-medium {
  height: 28px;
  width: 12%;
  margin: 2px 0% 8px 6%;
}

.question-button-medium label {
  border-radius: 14px; 
}

.question-button-small {
  height: 24px;
  width: 10%;
  margin: 4px 0% 8px 6%;
}

.question-button-small label {
  border-radius: 12px; 
}


/*** Gender Buttons for Personal Questions (SignUp) ***/
.gender-buttons {
  list-style-type: none;
  padding: 0px;
  height: 30px;
  margin: 15px auto;
  font-size: 16px;
  width: 250px;
}

.gender-buttons li {
  float: left;
  margin: 0px;
  width: 123px;
  height: 30px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
  text-align: center
}

.gender-buttons label, .gender-buttons input {
  display:block;
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 4px;
}

.gender-buttons input[type="radio"] {
  opacity:0;
  height: 100%;
  width: 100%;
  z-index:1;
  padding: 0px;
  margin: 0px;
}

.gender-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #e0e0e0;
  color: #25b79a;
}




.user-info-form {
  margin: 0px auto;
  width: 250px;
  border-radius: 3px;
  padding: 10px;
  height: 368px;
}

.user-info-form input {
  clear: both;
  font-size: 16px;
  line-height: 20px;
  margin: 15px auto;
  display: block;
  padding: 5px 3%;
  width: 94%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}


.profile-page-data {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 800px;
  margin: 20px auto;
  padding: 10px;
}


/*** Progress Bar for SignUp ***/
.progress-bar-container {
  text-align: center;
  padding: 10px;
}

progress {
  background-color: transparent;
  border: none;
  border-radius: 9px;
  height: 18px;
  width: 500px;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background-color: #25b79a;
  border-radius: 9px;
}


.birthday-dropdown {
  text-align: center;
  margin: 15px auto;
  border-bottom: 2px solid #e0e0e0;
  height: 30px;
}

.birthday-dropdown select{
  color: #7f8d8e;
  font-size: 16px;
  padding: .5em;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




