body {
	background-color: #eef3f4;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	color: #7f8d8e;
  height: 100%;
}

nav {
  width: 100%;
  height: 45px;
  text-align: center;
}

.img-full {
  width: 100%;
  height: 100%; 
}

.passwordCheck {
  margin-left: 19%;
  color: red;
}

.recover-password-email-success {
  margin-left: 5%;
}

.recover-password-email-error {
  margin-left: 10%;
  color: red;
}

.recover-password-email {
  padding-top: 20%;
}

.forgot-username-password {
  text-align: center;
  font-size: 12px;
}

.loginError {
  margin-left: 50px;
  color: red;
}

.public-nav {
  background-color: transparent;
  color: #7f8d8e;
}

.private-nav {
  background-color: #25b79a;
  color: #fff;
}

.nav-left {
  width: 30%;
  float: left;
  margin-left: 5%;
  list-style-type: none;
  text-align: left;
  padding-top: 10px;
}

.nav-middle {
  width: 30%;
  font-size: 24px;
  font-weight: 800;
  padding-top: 5px;
  float: right;
  list-style-type: none;
}

.nav-right {
  width: 30%;
  float: right;
  margin-right: 5%;
  list-style-type: none;
  color: #fff;
  text-align: right;
  padding-top: 10px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
}

.private-nav a {
  color: #fff;
}

.public-nav a {
  color: #25b79a;
}

footer {
  bottom: 0;
  margin: 13% 5% 25px 5%;
  font-size: 12px;
  width: 90%;
  position: absolute;
  height: 30px;
  z-index: -1;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.footer-elements {
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #e0e0e0;
  width: 100%;
  padding-top: 8px;
}

@media screen and ( max-height: 750px ){
  footer {
    opacity: 0;
  }
}

div {
	margin: 0px auto;
}

h1 {
	text-align: center;
}

.logo {
  font-weight: 700;
  color: #25b79a;
  margin: 0px auto;
  font-size: 2.4em;
}

.logo-img {
  width: 12em;
  padding: 2em 0 1.2em 0;
}

.question-form {
	width: 100%;
	border-radius: 3px;
	padding-top: 20px;
}

.question-form-submit-button-login {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin-top: 10px;
}

.question-form-submit-button {
  width: 100%;
  text-align: center;
  padding: 0%;
}

.question-form-button {
  font-size: 16px;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  background-color: #25b79a;
  border: none;
  border-radius: 3px;
  margin: 2% auto 5%;
  outline: none;
  width: 19em;
}

.valid:hover {
  background-color: #1d927b;
}

.invalid {
  opacity: 0.4;
}

.question {
	display: flex;
  width: 95%;
}

.question-container {
  width: 100%;
}


.question-option {
  padding: 13px 0px;
  position: relative;
}

.question-option-left {
  width: calc(50%);
  padding: 13px 0px;
  position: relative;
}

.question-option-left-text {
  text-align: right;
  width: 100%;
}

.question-option-right {
  width: calc(50%);
  padding: 13px 0px;
  position: relative;
}

.question-option-right-text {
  text-align: left;
  width: 100%;
}

.start-test {
  font-size: 20px;
  font-weight: 500;
  width: 350px;
  color: #25b79a;
  padding: 0.8em 0%;
  text-align: center;
  background-color: transparent;
  border: 1px solid #25b79a;
  border-radius: 3px;
  margin: 0px auto;
}




/*** Question Buttons for Personality Test ***/
.question-buttons-mobile {
  display: none;
}

.question-buttons {
  list-style-type: none;
  padding: 0px;
  margin: 4.6px 0px;
}

.question-buttons li {
  float: left;
  position: relative;
}

.question-buttons label, .question-buttons input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
}

.question-buttons input[type="radio"] {
  opacity:0;
  height: 100%;
  z-index:1;
}

.question-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #25b79a;
  color: #fff;
  border: 4px solid #25b79a;
}

.question-buttons label {
  border: 4px solid #e0e0e0;
  background-color: transparent;
  cursor:pointer;
}

.question-button-large {
  height: 32px;
  width: 11%;
  margin: 0px 0% 8px 8%;
}

.question-button-large label {
  border-radius: 16px;
}

.question-button-medium {
  height: 28px;
  width: 9.5%;
  margin: 2px 0% 8px 8%;
}

.question-button-medium label {
  border-radius: 14px;
}

.question-button-small {
  height: 24px;
  width: 1em;
  margin: 4px 0% 8px 8%;
}

.question-button-small label {
  border-radius: 12px;
}


/*** Gender Buttons for Personal Questions (SignUp) ***/
.gender-buttons {
  list-style-type: none;
  padding: 0px;
  height: 30px;
  margin: 15px auto;
  font-size: 16px;
  width: 250px;
}

.gender-buttons li {
  float: left;
  margin: 0px;
  width: 49%;
  height: 30px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
  text-align: center
}

.gender-buttons label, .gender-buttons input {
  display:block;
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 4px;
}

.gender-buttons input[type="radio"] {
  opacity:0;
  height: 100%;
  width: 100%;
  z-index:1;
  padding: 0px;
  margin: 0px;
}

.gender-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #e0e0e0;
  color: #25b79a;
}




.user-info-form {
  margin: 0px auto;
  width: 250px;
  border-radius: 3px;
  padding: 0.80% 1%;
  height: 24em;
}

.user-info-form input {
  clear: both;
  font-size: 16px;
  line-height: 20px;
  margin: 4% auto;
  display: block;
  width: 94%;
  padding: 5px 3%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}


.user-interest-form {
  margin: 0px auto;
  width: 600px;
  border-radius: 3px;
  padding: 0.80% 1%;
  height: 24em;
}

.interest-input-container {
  border-bottom: 2px solid #e0e0e0;
  padding: 1% 0%;
  margin: 1% 0% 5%;
}

.interest-input-container:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.interest-input-container p {
  margin: 0% 0% 1%;
}


.interest-input-container span {
  float: left;
  padding: 0.5% 1.5%;
  border-radius: 8%;
  color: #4c5455;
  font-weight: 300;
  margin: 0.5% 0.5%;
  cursor: pointer;
}

.interest-input-container input{
  float: left;
  clear: none;
  margin: 0.5% 0.5%;
  font-size: 16px;
  line-height: 22px;
  display: block;
  font-weight: 300;
  padding: 0.5% 1%;
  outline: none;
  background-color: transparent;
  border: none;
}

.interest-input {
  float: right;
}

.discussion {
  background-color: #f2fcf5;
}

.activity {
  background-color: #f2fcfa;
}

.place {
  background-color: #f2f9fc;
}


.login-logo{
  font-weight: 700;
  color: #25b79a;
  margin: 0px auto;
  font-size: 2.4em;
}

.login-form {
  margin: 0px auto;
  width: 19em;
  border-radius: 3px;
  padding: 19px 0 10px 0;
  height: 6em;
}

.login-form input {
  clear: both;
  font-size: 16px;
  line-height: 20px;
  margin: 15px auto;
  display: block;
  padding: 5px 3%;
  width: 94%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #e0e0e0;
  color: #7D7D7D;
}


input[type="submit"]{
  font-size: 16px;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  background-color: #25b79a;
  border: none;
  border-radius: 3px;
  margin: 20px auto 30px auto;
  height: 40px;
  outline: none;
  width: 19em;
  display: block;
}

.login-box {
  margin-top: 7%;
  background-color: rgba(255,255,255,0.5);
  padding: 47px 35px 35px 35px;
  width: 23em;
  border-radius: 3px;
  box-shadow:  rgba(225, 229, 225, 0.7) 1px 1px 5px;
}




/*** Personal Info Card ***/
.personal-info-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 68%;
  margin: 1% auto;
  padding: 1%;
}

.personal-info-card:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.personal-info-card-picture {
  width: 125px;
  height: 125px;
  float: left;
}

.personal-info-card-picture img {
  border-radius: 5px
}

.personal-info-card-userdata {
  float: left;
  margin-left: 20px;
  font-size: 1.2em;
  width: 75%;
}

.personal-info-card-userdata h4 {
  margin: 0% 0% 0.5% 0%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0.5%;
}

.personal-info-card-userdata p {
  margin: 8px 0px;
}

.user-interest-container {
  padding: 0.25% 0%;
}

.user-interest-container:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.user-interest-container span {
  font-size: 0.7em;
  float: left;
  margin-bottom: 0.25%;
  margin-top: 0.25%;
  padding-top: 0.40%;
  padding-bottom: 0.40%;
}

.user-interest-container input {
  font-size: 0.7em;
  line-height: 1.4em;
  float: left;
  clear: none;
  margin: 0px 0% 0% 1%;
  font-weight: 300;
  padding: 0.5% 1.5%;
  outline: none;
  background-color: transparent;
  border: none;
}

.user-interest {
  color: #4c5455;
  border-radius: 8%;
  font-weight: 300;
  cursor: pointer;
  margin: 0px 0% 0px 1%;
  padding: 0.5% 1.5%;
}

.discussion {
  background-color: #f2fcf5;
}

.activity {
  background-color: #f2fcfa;
}

.place {
  background-color: #f2f9fc;
}




.profile-page-data {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 70%;
  margin: 1% auto;
  padding: 0% 0% 0.75% 0%;
}

.profile-page-data:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.profile-page-boxes {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.profile-page-match {
  padding: 1.5% 0% 0% 0%;
  width: 33.33%;
  float: left;
  text-align: center;
  display: block;
}

.profile-page-match h4 {
  margin: 0px 0px 3px;
}
.profile-page-match p {
  margin: 0px;
}



.profile-page-match-image {
  height: 80%;
  width: 80%;
}

.profile-page-connections {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 70%;
  margin: 1% auto;
  padding: 0% 0% 0.75% 0%;
}

.profile-page-connections:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.poll-container-card {
  background-color: #f2f9fc;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 68%;
  margin: 1% auto;
  padding: 1%;
}

.profile-page-picture {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}

.profile-page-user-data {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}

.profile-page-user-data:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}



/*** Progress Bar for SignUp ***/
.progress-bar-container {
  text-align: center;
  padding-top: 15px;
  width:82%;
}

progress {
  background-color: transparent;
  border: none;
  border-radius: 9px;
  height: 18px;
  width: 90%;
  max-width: 611px;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background-color: #25b79a;
  border-radius: 9px;
}

.birthday-header {
  font-size: 0.8em;
  font-weight: 300;
  margin: 1% 3%;
  text-align: center;
  color: #a5afaf;
}

.birthday-dropdown {
  text-align: center;
  margin: 0% auto 15px;
  height: 30px;
}

.birthday-dropdown select{
  color: #7f8d8e;
  font-size: 16px;
  outline: none;
  margin: 0;
  height: 100%;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  width: 33.33%;
}

.dropzone{
  width: 100%;
  height: 4em;
  border-width: 1.2px;
  border-color: #BBB;
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer;
}

.dropzone-text{
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  cursor: pointer;
}

.dropzone-text-success {
  width: 100%;
  text-align: center;
  padding: 1.2em 0;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 895px) {

  .match-box-name {
    font-size: 2vw !important;
  }
}



@media only screen and (max-width: 600px) {

  .personal-info-card {
    width: 96%;
  }

  .profile-page-connections {
    width: 98%;
  }

  .profile-page-data {
    width: 98%;
  }

  .logo-img {
      width: 81vw;
  }

  .start-test {
    width: 270px;
  }

  .login-box {
    padding: 39px 35px 15px 35px;
    width: 19em;
    max-width: 80%;
  }

  .login-form {
    padding: 0px 0 10px 0;
    max-width: 95%;
  }

  .question {
    width: 100%;
    display: inline-block;
  }

  .question-option-left {
    width: calc(45%);
    padding: 6px 0 6px 10px;
    display: inline-table;
  }

  .question-buttons-desktop {
    display: none;
  }

  .question-buttons-mobile {
    width: 100%;
    left: calc(50% - 110px);
    position: relative;
    margin: 15px 0;
    display: block;
  }

  .question-option-right {
    padding: 6px 0px;
    width: calc(45%);
    display: inline-table;
    position: absolute;
    left: 53.7%;
  }

  .question-separator {
    border: 1px solid rgba(200,200,200,0.34);
    height: 27px;
    position: absolute;
    left: 50%;
    border-radius: 22px;
    margin-top: -28px;
}

  .question-form-button {
    max-width: 90%;
  }

  footer {
    opacity: 0;
  }

}

  .match-box-name {
    font-size: 4.2vw !important;
  }

  .user-interest-form {
    margin: 0px auto;
    width: 100%;
    border-radius: 3px;
    padding: 10px 0 0 0;
    height: 24.5em;
  }

  .interest-input-container {
    padding: 0 0 2% 0;
    margin: 5% 5%;
    width: 91%;
  }
}

