/*** Poll Container ***/

.poll-container-card {
  background-color: #f2f9fc;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: #4c5455;
  width: 68%;
  margin: 1% auto;
  padding: 0.75% 1%;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

.poll-question {
  margin: 0%;
  float: left;
  line-height: 1.9em;
  padding-top: 0.1%;
}

.poll-button {
  border: 1px solid #e0e0e0;
  outline: none;
  border-radius: 3px;
  background-color: #fff;
  margin: 0% 0% 0% 1.5%;
  float: right;
  padding: 1%;
  font-size: 0.8em;
  &:hover {
    background-color: #eef3f4;
  }
}

/*** Connections Container ***/

.connections-header {
  width: 98%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: #25b79a;
  padding: 0.5% 1%;
  border-bottom: 2px solid #25b79a;
  border-radius: 5px 5px 0px 0px;
  background-color: #f2fcfa;
}

/*** Edit User Information Button ***/

.edit-user-info {
  float: right;
  cursor: pointer;
  font-size: 24px;
  &:hover {
    color: #25b79a;
  }
}

.save-button {
  border-radius: 5px;
  border: none;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0.7%;
  color: #fff;
  &:hover {
    background-color: #25b79a;
    color: #fff;
  }
}

/*** Notifications ***/

.notification {
  border: 2px solid #25b79a;
  border-radius: 50%;
  height: auto;
  padding-top: 0.40%;
  padding-bottom: 0.60%;
  font-size: 1.8vw;
  font-weight: 600;
  width: 3.5%;
  color: #25b79a;
  background-color: #e0e0e0;
  z-index: 2;
  position: absolute;
  margin: 14.25%;
  text-align: center;
}

.notification-count {
  border-radius: 50%;
  height: auto;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  font-size: 0.8vw;
  font-weight: 600;
  width: 1.6%;
  color: #fff;
  background-color: red;
  z-index: 2;
  position: absolute;
  margin: 14% 17%;
  z-index: 4;
  text-align: center;
}

.new-connection {
  z-index: 3;
  padding-top: 0.70%;
  padding-bottom: 0.50%;
  font-size: 1.3em;
}

/*** Match Box & Rating ***/

.match-box-hover {
  border-radius: 50%;
  height: auto;
  padding-top: 3.25%;
  padding-bottom: 7.5%;
  font-size: 2vw;
  font-weight: 800;
  width: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.requestSent {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.match-box-name {
  font-size: 1.2vw;
  padding-top: 12%;
  padding-bottom: 7%;
}

.match-rating {
  border: 2px solid #fff;
  border-radius: 50%;
  height: auto;
  padding-top: 0.70%;
  padding-bottom: 0.75%;
  font-size: 1.5vw;
  font-weight: 600;
  width: 3.5%;
  color: #fff;
  z-index: 2;
  position: absolute;
  margin: 14.25%;
  text-align: center;
}

.mr-0-59 {
  background-color: #8B505C;
}

.mr-60-69 {
  background-color: #6E6E6E;
}

.mr-70-79 {
  background-color: #5F7C76;
}

.mr-80-89 {
  background-color: #429988;
}

.mr-90-100 {
  background-color: #25b79a;
}

.temp-box-hover {
  border-radius: 50%;
  height: auto;
  padding-top: 3.25%;
  padding-bottom: 5.25%;
  font-size: 2vw;
  font-weight: 800;
  width: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.accept-connect-icon {
  color: green;
  padding-right: 15%;
  font-size: 2.5em;
}

.reject-connect-icon {
  color: red;
  font-size: 2.5em;
}

.connection-box-hover {
  border-radius: 50%;
  height: auto;
  padding-top: 3.25%;
  padding-bottom: 7.5%;
  font-size: 2vw;
  font-weight: 800;
  width: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.img-connection {
  border-radius: 50%;
  overflow: hidden;
  height: calc(18.3vw);
  position: relative;
  width: 100%;
}

.img-pending-connection {
  border-radius: 50%;
  overflow: hidden;
  height: calc(18.3vw);
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 10px 2px #258bb7;
  -webkit-box-shadow: 0px 0px 10px 2px #258bb7;
  -moz-box-shadow: 0px 0px 10px 2px #258bb7;
}

.img-match {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 18.3vw;
  border-radius: 50%;
  &:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

.img-holder {
  height: 100%;
  width: 100%;
}

.match-image {
  width: 100%;
  width: 100%;
}

/* --------------------------------------------------------------------------------
-------------------------------------- tablet screens------------------------------
-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 895px) and (min-width: 600px) {
  .personal-info-card, .poll-container-card {
    width: 92%;
  }
  .personal-info-card-userdata {
    width: 73%;
  }
  .profile-page-connections, .profile-page-data {
    width: 94%;
    padding: 0 0 3.75% 0;
  }
  .profile-page-match {
    width: 48%;
    margin-top: 25px;
  }
  .accept-connect-icon {
    padding-right: 5%;
  }
  .match-box-hover {
    padding-top: 5.1% !important;
    padding-bottom: 9.7% !important;
    width: 26.8% !important;
    font-size: 3vw !important;
  }
  .match-rating {
    padding: 1.8% 2% 2.0% 1.1% !important;
    font-size: 2.8vw!important;
    margin: 22% 30%!important;
    width: 4.5%;
  }
  .img-connection {
    height: calc(34.5vw);
  }

  .img-connection, .img-pending-connection {
    height: 34.5vw;
  }

  .img-match {
    height: 34.5vw;
  }
  .match-box-hover {
    width: 36% !important;
    padding-top: 0% !important;
    padding-bottom: 16px !important;
    height: auto;
    font-size: 2.4vw !important;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(50, 50, 50, 0.8);
    opacity: 1;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0%;
    margin: 27vw 0 0 0;
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .match-box-name {
    padding: 6px 0px 0 0;
    font-size: 0.8em !important;
  }
  .connection-box-hover {
    width: 36% !important;
    padding-top: 0% !important;
    padding-bottom: 16px !important;
    height: auto;
    font-size: 2.4vw !important;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(50, 50, 50, 0.8);
    opacity: 1;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0%;
    margin: 27vw 0 0 0;
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .temp-box-hover {
    width: 36% !important;
    padding-top: 0% !important;
    padding-bottom: 16px !important;
    height: auto;
    font-size: 2.4vw !important;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.98);
    color: rgba(50, 50, 50, 0.8);
    opacity: 1;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0%;
    margin: 27vw 0 0 0;
    &:hover {
      background-color: rgba(255, 255, 255, 0.98);
    }
  }
  .similar-interests-card {
    width: 94% !important;
  }
  .match-conversation-container {
    width: 94% !important;
  }
  .notification-count {
    border-radius: 50%;
    padding-top: .25%;
    padding-bottom: .25%;
    font-size: 1.8vw;
    width: 2.6%;
    color: #fff;
    background-color: red;
    margin: 21% 32%;
    z-index: 4;
  }
  .notification {
    border: 2px solid #25b79a;
    border-radius: 50%;
    padding-top: .3%;
    padding-bottom: 0.9%;
    font-size: 4vw;
    width: 6.7%;
    color: #25b79a;
    background-color: #e0e0e0;
    margin: 22.25% 29.5%;
  }
}

/* --------------------------------------------------------------------------------
-------------------------------------- phone screens------------------------------
-----------------------------------------------------------------------------------*/


@media only screen and (max-width: 600px) {
  .poll-container-card {
    width: 92%;
  }
  .profile-page-match {
    width: 98%;
    margin-top: 25px;
  }
  .match-box-hover {
    padding-top: 10.0% !important;
    padding-bottom: 20.2% !important;
    width: 55.0% !important;
    font-size: 6vw !important;
  }
  .match-rating {
    padding: 3.2% 6.8% 3.2% 1.6%!important;
    font-size: 4.7vw!important;
    margin: 46.75% 65%!important;
    width: 4.6%;
  }
  .img-connection, .img-pending-connection {
    height: 71vw;
    width: 95%;
  }
  .img-match {
    height: 71vw;
  }
  .personal-info-card, .poll-container-card {
    width: 99%;
    padding: 4px 0px 4px 4px;
    margin: 0 0;
    border: 0 solid #e0e0e0;
  }
  .personal-info-card-userdata {
      float: left;
      margin-left: 16px;
      font-size: 1.2em;
      width: 55%;
  }
  .personal-info-card-picture img {
    border-radius: 0px;
  }
  .profile-page-connections, .profile-page-data {
    width: 100%;
    margin: 0;
    padding: 0 0 30px 0;
    border: 0px solid #e0e0e0;
  }
  .user-interest-container {
    padding: 0.25% 0;
    overflow: hidden;
    height: 20px;
    margin-top: 6px;
  }
  .edit-user-info {
    display: none;
  }
  .nav-middle {
    font-size: 14px;
    font-weight: 800;
    padding-top: 13px;
  }
  .demo-button {
    display: none;
  }
  .demo-left {
    display: block;
  }
  .match-box-hover {
width: 81%!important;
    padding-top: 0!important;
    padding-bottom: 18px!important;
    height: auto;
    font-size: 6.1vw!important;
    font-weight: 800;
    color: rgba(50,50,50,.8);
    opacity: 1;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    margin: 52vw 0 0;
    background-color: rgba(255, 255, 255, 0.75);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .match-box-name {
    padding: 6px 0 0;
    font-size: 0.8em!important;
  }
  .connection-box-hover {
width: 81%!important;
    padding-top: 0!important;
    padding-bottom: 18px!important;
    height: auto;
    font-size: 6.1vw!important;
    font-weight: 800;
    color: rgba(50,50,50,.8);
    opacity: 1;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    margin: 52vw 0 0;
    background-color: rgba(255, 255, 255, 0.75);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .temp-box-hover {
width: 81%!important;
    padding-top: 0!important;
    padding-bottom: 18px!important;
    height: auto;
    font-size: 6.1vw!important;
    font-weight: 800;
    color: rgba(50,50,50,.8);
    opacity: 1;
    z-index: 1;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    margin: 52vw 0 0;
    background-color: rgba(255, 255, 255, 0.75);
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .accept-connect-icon {
    color: green;
    padding-right: 4%;
    font-size: 1.8em;
  }
  .reject-connect-icon {
    color: red;
    font-size: 1.8em;
  }
  .similar-interests-card {
    border: 0px solid #e0e0e0 !important;
    width: 100% !important;
    margin: 0% auto !important;
  }
  .match-conversation-container {
    border: 1px solid #D0D0D0;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .similar-interest {
    font-size: 0.9em !important;
    margin: 1.25% 0 0 2% !important;
  }
  .question-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .user-info-form {
    height: 26em;
  }
  .notification {
    border: 2px solid #25b79a;
    border-radius: 50%;
    padding-top: 0.9%;
    padding-bottom: 1.7%;
    font-size: 6vw;
    width: 11.0%;
    color: #25b79a;
    background-color: #e0e0e0;
    margin: 46.25% 68.5%;
  }
  .notification-count {
    border-radius: 50%;
    padding-top: .25%;
    padding-bottom: .25%;
    font-size: 2.8vw;
    width: 4.6%;
    color: #fff;
    background-color: red;
    margin: 44% 72.5%;
    z-index: 4;
  }
  .delete-message {
    opacity: 1;
  }
  .banner-img {
    display: none;
  }
  .login-box, .recover-password-box {
    padding: 48px 0;
    width: 100% !important;
  }
  .login-form-recover-password {
    width: 82%;
  }
  .question-form-submit-button-login {
    width: 90%;
  }
}