/*** Poll Container ***/

.poll-container-card {
  background-color: #f2f9fc;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: #4c5455;
  width: 68%;
  margin: 1% auto;
  padding: 0.75% 1%;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

.poll-question {
  margin: 0%;
  float: left;
  line-height: 1.9em;
  padding-top: 0.1%;
}

.poll-button {
  border: 1px solid #e0e0e0;
  outline: none;
  border-radius: 3px;
  background-color: #fff;
  margin: 0% 0% 0% 1.5%;
  float: right;
  padding: 1%;
  font-size: 0.8em;
  &:hover {
    background-color: #eef3f4;
  }
}

/*** Connections Container ***/

.connections-header {
  width: 98%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: #25b79a;
  padding: 0.5% 1%;
  border-bottom: 2px solid #25b79a;
  border-radius: 5px 5px 0px 0px;
  background-color: #f2fcfa;
}

/*** Edit User Information Button ***/

.edit-user-info {
  float: right;
  cursor: pointer;
  font-size: 24px;
  &:hover {
    color: #25b79a;
  }
}

.save-button {
  border-radius: 5px;
  border: none;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0.7%;
  color: #fff;
  &:hover {
    background-color: #25b79a;
    color: #fff;
  }
}

/*** Notifications ***/

.notification {
  border: 2px solid #25b79a;
  border-radius: 50%;
  height: auto;
  padding-top: 0.30%;
  padding-bottom: 0.70%;
  font-size: 1.8vw;
  font-weight: 600;
  width: 3.5%;
  color: #25b79a;
  background-color: #e0e0e0;
  z-index: 2;
  position: absolute;
  margin: 14.25%;
  text-align: center;
}

.notification-count {
  border-radius: 50%;
  height: auto;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  font-size: 0.8vw;
  font-weight: 600;
  width: 1.6%;
  color: #fff;
  background-color: red;
  z-index: 2;
  position: absolute;
  margin: 14% 17%;
  z-index: 4;
  text-align: center;
}

.new-connection {
  z-index: 3;
  padding-top: 0.70%;
  padding-bottom: 0.50%;
  font-size: 1.3em;
}

/*** Match Box & Rating ***/

.match-box-hover {
  border-radius: 50%;
  height: auto;
  padding-top: 3.25%;
  padding-bottom: 7.5%;
  font-size: 2vw;
  font-weight: 800;
  width: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.requestSent {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.match-box-name {
  font-size: 1.2vw;
  padding-top: 12%;
  padding-bottom: 7%;
}

.match-rating {
  border: 2px solid #fff;
  border-radius: 50%;
  height: auto;
  padding-top: 0.70%;
  padding-bottom: 0.75%;
  font-size: 1.5vw;
  font-weight: 600;
  width: 3.5%;
  color: #fff;
  z-index: 2;
  position: absolute;
  margin: 14.25%;
  text-align: center;
}

.mr-0-59 {
  background-color: #8B505C;
}

.mr-60-69 {
  background-color: #6E6E6E;
}

.mr-70-79 {
  background-color: #5F7C76;
}

.mr-80-89 {
  background-color: #429988;
}

.mr-90-100 {
  background-color: #25b79a;
}

.temp-box-hover {
  border-radius: 50%;
  height: auto;
  padding-top: 3.25%;
  padding-bottom: 5.25%;
  font-size: 2vw;
  font-weight: 800;
  width: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.accept-connect-icon {
  color: green;
  padding-right: 15%;
  font-size: 2.5em;
}

.reject-connect-icon {
  color: red;
  font-size: 2.5em;
}

.connection-box-hover {
  border-radius: 50%;
  height: auto;
  padding-top: 3.25%;
  padding-bottom: 7.5%;
  font-size: 2vw;
  font-weight: 800;
  width: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.img-connection {
  border-radius: 50%;
  overflow: hidden;
  height: calc(18.5vw);
  position: relative;
  width: 100%;
}

.img-pending-connection {
  border-radius: 50%;
  overflow: hidden;
  height: calc(18.5vw);
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 10px 2px #258bb7;
  -webkit-box-shadow: 0px 0px 10px 2px #258bb7;
  -moz-box-shadow: 0px 0px 10px 2px #258bb7;
}

.img-match {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 50%;
  &:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

.img-holder {
  height: 100%;
  width: 100%;
}

.match-image {
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  max-height: 145%;
  max-width: 175%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

@media only screen and (max-width: 895px) {
  .personal-info-card, .poll-container-card {
    width: 92%;
  }
  .profile-page-connections, .profile-page-data {
    width: 94%;
  }
  .profile-page-match {
    width: 48%;
  }
  .match-box-hover {
    padding-top: 5.1% !important;
    padding-bottom: 9.7% !important;
    width: 26.8% !important;
    font-size: 3vw !important;
  }
  .match-rating {
    padding: 1.4% 0.70% !important;
    font-size: 2.2vw !important;
    margin: 28.25% !important;
    width: 4.5%;
  }
}

@media only screen and (max-width: 600px) {
  .poll-container-card {
    width: 92%;
  }
  .profile-page-match {
    width: 98%;
  }
  .match-box-hover {
    padding-top: 10.0% !important;
    padding-bottom: 20.2% !important;
    width: 55.0% !important;
    font-size: 6vw !important;
  }
  .match-rating {
    padding: 2.2% 4.8% 2.2% 1% !important;
    font-size: 3.7vw !important;
    margin: 60.75% !important;
  }
}